body {
    font-family: 'Poppins', sans-serif;
}

.first-container {
    display: flex;
}

h1 {
    font-size: 50px;

}

.half-width {
    margin: 20px;
    width: 50%;
}

.first-div {
    margin-top: 50px;
    padding-left: 40px;
}

.first-div p {
    margin-bottom: 40px;
}

.button-color {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 30px;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}

/* second section-------------------- */
.second-section{
    background-image: url(images/shapes/Frame\ 58.jpg);
    margin-top: 100px;
}

.second {
    padding-left: 15px;
    margin-top: 100px;
}
.second p{
     margin-bottom:80px ;
}